body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5c6bc0;
    color: white;
    padding: 20px;
    text-align: center;
}

button {
    background-color: #5c6bc0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #3f4f97;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
